@import url('https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: rgb(0, 0, 0);
}


/* Main container. Creates box with padding. Use for all content except CONTACT*/

.container {
    margin-left: 10%;
    margin-right: 10%;
}


/*can be used inside container to make sub divisions*/

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Ignore for now*/

.main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}


/*to align stuff to the center*/

.center {
    text-align: center;
    align-items: center;
}



span {
  color: white;
}

/*to place images side by side use flex container and flex child. For different spacing and padding, make another child*/

.flex-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.flex-child {
    flex: 1;
    padding-left: 0px;
    padding-right: 0px;
}

.video-container {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    overflow: hidden;
}

.video {
    flex-grow: 1;
    border: none;
    width: 800px;
    margin: auto;
    padding: auto;
    align-items: center;
}

.box {
    padding: 5px;
}


/*Ignore*/

.centerIcons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}


/*ignore*/

.centerIconsStudents {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}


/*Navigation stuff*/

li,
a,
button {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    font-size: 16px;
    ;
    color: #000000;
    text-decoration: none;
}


/*for headings. Use whichever you want or create new one*/

h1,
h2 {
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    color: white;
},
h3,
h4,
h5,
h6 {
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    color: #333;
}

h1 {
    line-height: 60%;
    text-transform: none;
}

h4 {
    padding-top: 1%;
    text-transform: uppercase;
    font-size: 200%;
    color: white;
}

h5 {
    font-size: 160%;
    text-transform: uppercase;
    line-height: 110%;
    color: #ffffff
}

h6 {
    font-size: 140%;
    margin-top: 20px;
    color: #ffffff
}

.h7 {
    font-family: "Calibri", sans-serif;
    font-weight: 300;
    font-size: 130%;
    line-height: 100%;
        color: #aaaaaa
}

.h8 {
    font-family: "Calibri", sans-serif;
    font-weight: 300;
    font-size: 110%;
    line-height: 100%;
    color: #aaaaaa
}

.smallIcons {
    height: 30px;
    width: 30px;
}

.multiImages {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*NOTE: ONLY for navigation bar. Do not use. Create div instead*/

.header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    bottom: 20px;
    align-items: center;
    padding: 10px 10%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}


/*next few are nav stuff*/

.logo {
    margin-right: auto;
    height: auto;
}

.nav__links {
    list-style: none;
    background-color: rgb(255, 255, 255);
}

.nav__links li {
    display: inline-block;
    padding: 0px 5px;
    background-color: rgb(255, 255, 255);
}

.nav__links li a {
    display: inline-block;
    padding: 0px 5px;
    background-color: rgb(255, 255, 255);
}

.nav__links li a:hover {
    color: #555555;
    background-color: rgb(255, 255, 255);
}

button {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(20, 20, 20, 1);
}


/*use image wrapper to place banner*/

.imageWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.publi {
    color: grey;
    font-size: 110%;
    margin-top: 15px;
    text-align: justify;
}

p {
    color: #aaaaaa;
    font-size: 110%;
    text-align: justify;
}

#home {
    background-color: rgb(20, 30, 66);
    padding: 2%;
}

.post {
    padding: 8rem 8rem 6rem 8rem;
}

.post header.major>.date {
    margin-top: -2rem;    
}

.post header.major>h1,
.post header.major h2 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
}

.post.featured {
    text-align: center;
}

.posts {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    text-align: center;
    width: 100%;
    padding: 0;
}

.posts>* {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}

.posts>* {
    padding: 4rem;
    width: 50%;
}

.posts>article {
    border-color: #eeeeee;
    border-left-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    text-align: center;
}

.fa {
    color: black;
}

.image.fit {
    display: block;
    margin: 2.5rem 0;
    height: auto;
    width: 50%;
    align-items: center;
}

#Contact>* {
    background-color: rgb(0, 0, 0);
    color: white;
}

#Contact>*>* {
    background-color: rgb(0,0,0);
    color: white;
}

#Contact>*>*>* {
    background-color: rgb(0,0,0,);
    color: white;
}

.contactFigs {
    border-radius: 50%;
}

.introline {
    color: #122372;
    background-color: rgb(180, 180, 180);
}

.LabStatement {
    line-height: 160%;
}
